.slider {
    background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}

.swiper {
    position: relative;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}